<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postloveIts > 0,
                'list-group-item-danger': postloveIts < 0}">
  <i class="date">{{postCreated_at | date: 'dd/MM/yyyy, HH:mm' | uppercase}}</i>
  <h2 [ngStyle]="{color: getColor()}">{{ postTitle }}</h2>
  <p>{{postContent}}</p>
  <button class="btn btn-success" (click)="Like()"><span class="glyphicon glyphicon-ok"></span>&nbsp;Like</button>
  &nbsp;
  <button class="btn btn-danger" (click)="Dislike()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Dislike</button>
</li>
